# Node dependencies (frontend)
node_modules/
.pnp/
.pnp.js

# Build output
/build

# Testing
/coverage

# Misc
.DS_Store
*.log

# Environment files (secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python dependencies and cache (backend)
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
env/
*.sqlite3

# VS Code settings
.vscode/
server/firebase.config.json